/* https://coolors.co/palette/cfdbd5-e8eddf-f5cb5c-698C7A-333533 */

body {
    background-color: #333533;
    font-family: 'Dosis', sans-serif;
    color: #242423
}
h1 {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    color: #698C7A;
    font-size: 45px;
}
.infoBar h2{
    margin-top: 15px;
}
.infoBar h3{
    margin-top: -20px;
}
.VolumeChart{
    position: fixed;
    height: 400px;
    width: 46%;
    top: 120px;
    right: 1%;
    font-size: 20px;
    border: 5px solid #698C7A;
    background-color: #E8EDDF;
    border-radius: 25px;
    padding: 15px;
    overflow: hidden;
    display: block;
}
.VolumeChart .price{
    position: absolute;
    font-size: 30px;
    color: #242423;
    z-index: 5;
    display: block;
}
.VolumeChart .chart{
    position: absolute;
    display: block;
}


.infoBar{
    position: fixed;
    height: 400px;
    width: 46%;
    top: 120px;
    left: 1%;
    font-size: 20px;
    border: 5px solid #698C7A;
    background-color: #E8EDDF;
    border-radius: 25px;
    padding: 15px;
    overflow: hidden;
    display: block;
}

.manipulation .manipulation_box {
    position: fixed;
    height: 320px;
    width: 46%;
    top: 590px;
    left: 1%;
    font-size: 20px;
    border: 5px solid #698C7A;
    background-color: #E8EDDF;
    border-radius: 25px;
    padding: 15px;
    overflow: hidden;
    display: block;
}

.manipulation .manipulation_chance {
    position: fixed;
    height: 320px;
    width: 46%;
    top: 590px;
    right: 1%;
    font-size: 20px;
    border: 5px solid #698C7A;
    background-color: #E8EDDF;
    border-radius: 25px;
    padding: 15px;
    overflow: hidden;
    display: block;
}
.manipulation .highlight_low{
    color: rgb(10, 140, 30);
}
.manipulation .highlight_mid{
    color: rgb(20, 20, 200);
}
.manipulation .highlight_high{
    color: rgb(255, 0, 0);
}